:root {
  /* -------- ORIGINAL -------- */
  --white: #dddddd;
  --black: #101010;
  --grey: #1e1d1e;
  --lightgrey: #525252;
  --darkgrey: #222222;
  --cool-grey: #7e8aa2;
  --charcoal: #202328;
  --yellow: #fc9321;
  --green: #5ff501;
  --carolina-blue: #4b9cd3;
  --special: #28828a;
  /* --black: #131313; */
  /* --white: #e4dfda; */
  /* --grey: #aeb5c0; */
  /* --grey: #cecece; */
  /* --lightgrey: #737374; */
  /* --darkgrey: #4b4b4b; */
  /* --greyblue: #3a4656; */
  /* --greyblue: #414e5f; */
  /* --greyblue: #1e2225; */
  /* --olive: #3f4a39; */
  /* --tan:#aeae9d; */
  /* --carolina-blue: #6bb6fa; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  color: var(--lightgrey);
}

::selection { 
  background: var(--carolina-blue);
  background: var(--special);
  color: var(--black);
}

body {
  background-color: var(--black);
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: start;
}

body::-webkit-scrollbar {
  display: none;
}



.progress-section {
  position: fixed;
  right: -8px;
  top: 40%;
  width: 60px;
  height: 20%;
  display: flex;
  justify-content: space-between;
  will-change: transform;
  transition: .3s ease-out;
}

.progress-bar-wrap {
  position: relative;
  width: 5px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(70,70,70);
}

.progress-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0%;
  background-color: rgb(189,189,189);
  background-color: var(--white);
}

.noise-bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fclojure2d.github.io%2Fclojure2d%2Fdocs%2Fimages%2Foverlays%2Fnoise.png&f=1&nofb=1&ipt=d782e8dc396cc1a612d0be8bed505689aecd9c554a442bc1e7f4788542069170&ipo=images') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 1.5s infinite;
  opacity: .26;
  visibility: visible;
  z-index: -1;
}

@keyframes bg-animation {
  0% { transform: translate(0,0) }
  10% { transform: translate(-5%,-5%) }
  20% { transform: translate(-10%,5%) }
  30% { transform: translate(5%,-10%) }
  40% { transform: translate(-5%,15%) }
  50% { transform: translate(-10%,5%) }
  60% { transform: translate(15%,0) }
  70% { transform: translate(0,10%) }
  80% { transform: translate(-15%,0) }
  90% { transform: translate(10%,5%) }
  100% { transform: translate(5%,0) }
}

.content {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: start;
  /* padding: 0 3.8em; */
}

/* ############################################## */
/* ABOUT ME */
/* ############################################## */
.whoami-container {
  width: 100%;
  height: 100vh;
  padding: 0 5em;

  display: grid;
  align-items: center;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr;
}

.introduction-container {
  /* height: 70vh; */
  display: grid;
  justify-content: start;
  align-items: end;
}

.introduction-content {
  width: 100%;
  display: grid;
  justify-content: center;
}

.greetings, .aspiration {
  font-size: 32px;
}

.my-name {
  font-weight: bold;
  font-size: 110px;
  color: var(--white);
  text-transform: uppercase;
}

#profession {
  color: var(--white);
  font-weight: bold;
}

#to-projects {
  background: var(--darkgrey);
  border: 1px solid var(--lightgrey);
  color: var(--white);
  border-radius: 1px;
  margin-top: 1em;
  margin-right: 3em;
  padding: 1.2em 5em;
  font-size: 18px;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

#to-projects:hover {
  cursor: pointer;
  /* background: var(--darkgrey); */
  background: var(--white);
  color: var(--black);
}

.social-links {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.about-me-container {
  width: 100%;
  height: 60%;
  display: grid;
  justify-content: center;
  align-items: start;
  /* margin-top: 25em; */
}

.about-me-content {
  width: 100%;
  margin-top: .7em;
  display: grid;
  justify-content: center;
}

.section-skills {
  position: relative;
  top: 65px;
}

.section-headers p {
  font-size: 28px;
  color: var(--cement);
}

.skill-section {
  margin-top: 1em;
}

.skills {
  display: flex;
  justify-content: space-between;
  min-width: 30%;
  width: 40%;
  margin-top: 2em;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: .6em;
}

.skills p {
  /* background: var(--lightgrey); */
  background: rgba(164,164,164, .45);
  background: var(--darkgrey);
  padding: .3em 1em;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.skills ul {
  list-style: none;
}

.skills li {
  margin: 1em 0;
  display: grid;
  justify-content: center;
  padding: .4em .4em;
  border-radius: 3px;
  background: var(--lightgrey);
}

/* ############################################## */
/* PROJECT CONTAINER */
/* ############################################## */

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  perspective: 1500px;
}

.gallery {
  position: absolute;
  top: 22.5%;
  left: 50%;
  transform-style: preserve-3d;
  transform: translateX(-50%) rotateX(55deg);
}

.item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 60px;
  margin: 10px;
  trnasform-style: preserve-3d;
  background: #b0b0b0;
}


.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preview-img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  z-index: 0;
}

.project-container {
  display: grid;
  justify-content: center;
  width: 92vw;
  width: 100vw;
  height: 100vh;
}

.graph {
  width: 100%;
  height: 100%;
  
}


.project-category {
  /* background: pink; */
  width: 100%;
}

.catergory-block {
  padding: 5em;
  border: 1px var(--black);
}



























/* .project-extras-container { */
/*   margin-top: 3em; */
/*   width: 75%; */
/*   height: 50em; */
/*   display: grid; */
/*   justify-content: start; */
/*   grid-template-columns: repeat(5, .6fr); */
/*   gap: 100px; */
/* } */

/* .project-folder { */
/*   width: 140px; */
/*   height: 180px; */
/*   margin: 0 auto; */
/*   position: relative; */
/*   background-color: rgba(35,35,35,.3); */
/*   /1* background-color: rgba(192,192,208,.1); *1/ */
/*   background: var(--lightgrey); */
/* } */

/* .project-folder:before { */
/*     content: ''; */
/*     width: 60%; */
/*     height: 12px; */
/*     width: 100%; */
/*     height: 100%; */
/*     position: absolute; */
/*     top: -12px; */
/* } */

/* .project-folder { */
/*   clip-path: polygon( */
/*     0% 0%, 98% 0%, 100% 3%, 100% 100%, 10% 100%, 0% 92% */
/*   ); */
/* } */

/* SIM CARD */
/* .project-folder { */
/*   clip-path: polygon( */
/*     0% 0%, 82% 0%, 100% 13%, */ 
/*     100% 30%, 98% 30%, 98% 35%, 100% 35%, */ 
/*     100% 98%, 98% 100%, */ 
/*     2% 100%, 0% 98%, */ 
/*     0% 50%, 2% 50%, 2% 33%, .7% 33%, .7% 30%, 2% 30%, 2% 35%, 2% 25%, 0% 25% */
/*   ); */
/* } */


/* .project-folder { */
/*   clip-path: polygon( */
/*     0% 0%, 98% 0%, */
/*     100% 3%, 100% 100%, */
/*     3% 100%, 0% 98%, */
/*   ); */
/* } */

/* .project-folder:hover { */
/*   /1* background: linear-gradient(to bottom, #f0cd82, #fcd571); *1/ */
/*   background: var(--darkgrey); */
/*   cursor: pointer; */
/* } */

/* .project-info { */
/*   width: 100%; */
/*   height: 80%; */
/*   padding: 1em 1em; */
/*   /1* background-color: rgba(51,255,0,.6); *1/ */
/* } */

/* .project-title { */
/*   margin-top: .3em; */
/*   font-size: 18px; */
/*   font-weight: bold; */
/*   color: var(--black); */
/* } */

/* ######################################################### */
/* PROJECT PAGE */
/* ######################################################### */
.project-info-landing-page {
  /* background: var(--greywhite); */
  width: 100vw;
  height: 100vh;
}

.project-info-title-container {
  position: absolute;
  bottom: 18px;
  left: 0;
  height: 100vh;
  max-width: 200px;
  overflow: hidden;
}

.project-quick-info {
  position: absolute;
  left: 2em;
  bottom: 3em;
}

.project-quick-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5em;
}

.project-quick-info-title p {
  color: var(--light-grey);
  color: #536f8b;
  color: #1f1f1f;
  margin: 1em 0;
  font-size: 13px;
}

.project-quick-info-content p {
  color: var(--black);
  color: black;
  margin: 1em 0;
  font-size: 13px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.banner {
  width: 100%;
  height: 30px; 
  position: relative;
  top: -2em;
  overflow: hidden;
  white-space: nowrap;
  background-color: rgba(0,0,0,0);
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
  color: var(--black);
}

.banner-text {
  display: inline-block;
  animation: 25s slide infinite linear; /* Adjust animation duration as needed */
  font-size: 11px;
  text-transform: uppercase;
  color: var(--black);
}

.text-divider {
  padding: 0 1em;
  color: var(--black);
}

@keyframes scroll {
  0% { left: 100%;  }
  100% { left: -100%;  }

}

.scrolling-text {
  display: flex;
  align-items: end;
  width: 100%;
  height: 100%;
  transform: rotate(0deg);
  white-space: nowrap;
  transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
  will-change: transform;
  backface-visibility: hidden;
}

#project-info-title {
  width: 100%;
  /* color: var(--white); */
  color: #ffffff;
  text-shadow: 0 0 1.5px var(--black);
  font-size: 180px;
  text-transform: uppercase;
  transform: rotate(270deg);
  white-space: nowrap;
  transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
}

.scrolldown {
  position: absolute;
  bottom: 60px;
  left: 55%;
  width: 15px;
  height: 15px;
  /* background: white; */
  transform: translate(-80px) translateX(-50%) rotate(45deg);
}

/* .scrolldown span { */
/*   position: absolute; */
/*   top: 0; */
/*   left: 0; */
/*   display: block; */
/*   width: 100%; */
/*   height: 100%; */
/*   border-bottom: 2px solid var(--black); */
/*   border-right: 2px solid var(--black); */
/*   animation: animate 1.5s linear infinite; */
/*   opacity: 0; */
/* } */

/* .scrolldown span:nth-child(1) { */
/*   transform: translate(-15px,-15px); */
/*   animation-delay: -0.4s; */
/* } */

/* .scrolldown span:nth-child(2) { */
/*   transform: translate(0,0); */
/*   animation-delay: -0.2s; */
/* } */

/* .scrolldown span:nth-child(3) { */
/*   transform: translate(15px,15px); */
/*   animation-delay: 0s; */
/* } */


/* @keyframes animate { */
/*   0% { */
/*     top: -5px; */
/*     left: -5px; */
/*     opacity: 0; */
/*   } */
/*   25% { */
/*     top: 0px; */
/*     left: 0px; */
/*     opacity: 1; */
/*   } */
/*   50%, 100% { */
/*     top: 5px; */
/*     left: 5px; */
/*     opacity: 0; */
/*   } */
/* } */

.project-title p {
  margin-top: .8em;
  /* margin-bottom: -.10em; */
  padding-right: .27em;
  width: 100%;
  color: var(--grey);
  font-size: 25em;
  letter-spacing: -25px;
  font-weight: bold;
  display: grid;
  justify-content: right;
  align-content: end;
}

.project-info-content {
  margin: .1em 5em 5em;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.project-overview-title {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-right: 4em;
  letter-spacing: -1.5px;
}

.project-overview-title p {
  color: var(--white);
  font-size: 3em;
  font-weight: bold;
  display: flex;
  justify-content: end;
}

.project-overview-title { 
  grid-column: 4;
  justify-content: start;
}

.project-info-overview {
  grid-column: 5 / span 8;
}

.bold {
  color: var(--white);
}

.project-description-1 {
  grid-column: 1 / span 4;
}

#gradient-canvas {
  width:100%;
  height:100%;
  --gradient-color-1: #FE6860; 
  --gradient-color-2: #FE8A71; 
  --gradient-color-3: #D9BBAE;  
  --gradient-color-4: #F3C9BF;

  /* --gradient-color-1: #f78907; */ 
  /* --gradient-color-2: #f6c507; */ 
  /* --gradient-color-3: #f65507; */  
  /* --gradient-color-4: #f5c006; */

  /* --gradient-color-1: #7353ba; */
  /* --gradient-color-2: #504fa1; */ 
  /* --gradient-color-3: #efc3f5; */
  /* --gradient-color-4: #f2eff8; */

  /* --gradient-color-1: #414f5f; */
  /* --gradient-color-2: #6f7a88; */
  /* --gradient-color-3: #a1a19e; */
  /* --gradient-color-4: #f6fafb; */

  /* --gradient-color-1: #002ff4; */
  /* --gradient-color-2: #3d18d6; */ 
  /* --gradient-color-3: #3853d7; */
  /* --gradient-color-4: #a2b2ff; */

  /* --gradient-color-1: #308ac6; */
  /* --gradient-color-2: #4b9cd3; */
  /* --gradient-color-3: #6baddb; */
  /* --gradient-color-4: #7ab6df; */
  /* --gradient-color-5: #97cdff; */

  /* --gradient-color-1: #6baddb; */
  /* --gradient-color-2: #7ab6df; */
  /* --gradient-color-3: #308ac6; */
  /* --gradient-color-4: #4b9cd3; */
  /* --gradient-color-5: #97cdff; */
}
