:root {
  --grey: #828e9c;
  --grey: #e5e3e6;
  /* --lightgrey: #7c838e; */
  /* --darkgrey: #454545; */
  /* --darkgrey: #3c424a; */
  /* --black: #1c1c1c; */
  /* --black: #131313; */

  /* --grey: #bcc5c3; */
  --grey: #c0c0d0;
  --lightgrey: #7e8691;
  --darkgrey: #44454c;
  --black: #232323;
  --white: #bebcbe;
  --greyblue: #3a4656;
  --greyblue: #414e5f;
  --tan:#aeae9d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  font-family: 'Barlow Semi Condensed', sans-serif;
  /* overflow: hidden; */
  text-transform: uppercase;
  color: var(--darkgrey);
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--grey);
  /* background: linear-gradient(to top, var(--black), var(--grey)); */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-size: cover; */
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: center;
}

.noise-bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fclojure2d.github.io%2Fclojure2d%2Fdocs%2Fimages%2Foverlays%2Fnoise.png&f=1&nofb=1&ipt=d782e8dc396cc1a612d0be8bed505689aecd9c554a442bc1e7f4788542069170&ipo=images') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 1.5s infinite;
  opacity: .26;
  visibility: visible;
  z-index: -1;
}

@keyframes bg-animation {
  0% { transform: translate(0,0) }
  10% { transform: translate(-5%,-5%) }
  20% { transform: translate(-10%,5%) }
  30% { transform: translate(5%,-10%) }
  40% { transform: translate(-5%,15%) }
  50% { transform: translate(-10%,5%) }
  60% { transform: translate(15%,0) }
  70% { transform: translate(0,10%) }
  80% { transform: translate(-15%,0) }
  90% { transform: translate(10%,5%) }
  100% { transform: translate(5%,0) }
}


/* ############################################## */
/* HOME PAGE */
/* ############################################## */
.content {
  /* width: 100%; */
  height: 100%;
  display: grid;
  /* justify-content: center; */
  margin-left: 22em;
}

.introduction-container {
  height: 70vh;
  display: grid;
  justify-content: start;
  align-items: end;
}

.introduction-content {
  width: 100%;
  display: grid;
  justify-content: center;
}

.greetings, .aspiration {
  font-size: 32px;
}

.my-name {
  font-weight: bold;
  font-size: 110px;
  color: var(--black);
  text-transform: uppercase;
}

#profession {
  color: var(--black);
  font-weight: bold;
}

#to-projects {
  background: rgba(93,93,93,0.1);
  border: 1px solid var(--black);
  border-radius: 1px;
  margin-top: 1em;
  margin-right: 3em;
  padding: 1.2em 5em;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--black);
  transition: all 0.2s ease;
}

#to-projects:hover {
  cursor: pointer;
  background: var(--black);
  color: var(--grey);
}

.section-headers {
  font-size: 30px;
  font-weight: bold;
}

/* ############################################## */
/* ABOUT ME */
/* ############################################## */
.about-me-container {
  width: 100%;
  display: grid;
  justify-content: center;
  margin-top: 25em;
}

.about-me-content {
  width: 60%;
  margin-top: .7em;
  display: grid;
  justify-content: center;
}

.section-skills {
  position: relative;
  top: 65px;
}


.section-headers p {
  color: var(--black);
  font-size: 32px;
}

.skill-section {
  margin-top: 1em;
}

.skills {
  display: flex;
  justify-content: space-between;
  min-width: 30%;
  width: 40%;
  margin-top: .3em;
  margin-left: 1em;
  /* font-size: 20px; */
}

.skills ul {
  /* list-style: none; */
}

/* ############################################## */
/* ABOUT ME */
/* ############################################## */
.project-container {
  margin-top: 25em;
}

.project-extras-container {
  margin-top: 3em;
  width: 75%;
  height: 50em;
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(5, .6fr);
  gap: 100px;
}

.project-folder {
  /* width: 170px; */
  /* height: 250px; */
  /* width: 180px; */
  /* height: 230px; */
  /* width: 140px; */
  /* height: 120px; */
  width: 140px;
  height: 180px;
  margin: 0 auto;
  /* margin-top: 50px; */
  position: relative;
  background-color: rgba(35,35,35,.3);
  /* background: var(--darkgrey); */
}

.project-folder:before {
    content: '';
    width: 60%;
    height: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -12px;
}

.project-folder {
  clip-path: polygon(
    0% 0%, 98% 0%, 100% 3%, 100% 100%, 10% 100%, 0% 92%
  );
}

/* SIM CARD */
/* .project-folder { */
/*   clip-path: polygon( */
/*     0% 0%, 82% 0%, 100% 13%, */ 
/*     100% 30%, 98% 30%, 98% 35%, 100% 35%, */ 
/*     100% 98%, 98% 100%, */ 
/*     2% 100%, 0% 98%, */ 
/*     0% 50%, 2% 50%, 2% 33%, .7% 33%, .7% 30%, 2% 30%, 2% 35%, 2% 25%, 0% 25% */
/*   ); */
/* } */


/* .project-folder { */
/*   clip-path: polygon( */
/*     0% 0%, 98% 0%, */
/*     100% 3%, 100% 100%, */
/*     3% 100%, 0% 98%, */
/*   ); */
/* } */

.project-folder:hover {
  /* background: linear-gradient(to bottom, #f0cd82, #fcd571); */
  background-color: rgba(35,35,35,.4);
  cursor: pointer;
}

.banner {
  /* width: 50px; */
  /* height: 100px; */
}

.project-info {
  width: 100%;
  height: 80%;
  padding: 1em 1em;
  /* background-color: rgba(51,255,0,.6); */
}


.project-title {
  margin-top: .3em;
  font-size: 18px;
  font-weight: bold;
  color: var(--black);
}

/* .project-title:hover { */
/*   color: var(--white); */
/* } */
