:root {
  /* -------- ORIGINAL -------- */
  /* --bg:#101010; */
  /* --bg:#1c1b21 ; */
  /* --bg:#161616 ; */
  /* --bg:#191919 ; */
  /* --bg:#101517 ; */
  /* --bg:#9898a6; */
  /* --bg:#919598; */
  /* --bg:#dbdbdb ; */
  --bg:#dadada;

  /* --secondary:#101010; */
  /* --secondary:#a8abab; */
  --secondary:#cecece;

  --black: #101010;
  --white: #dadada;
  --grey: #9898a6;
  --greywhite: #a8abab;
  --lightgrey: #525252;
  --darkgrey:#202328;

  /* --special: #6ab0f5; */
  /* --special: #5228fe; */
  /* --special: #279a9b; */
  /* --special: #2b9aa4; */
  /* --special: #429198; */
  /* --special: #722cfe; */
  /* --special: #651fff; */
  /* --special: #fb9318; /1* Barely Grape *1/ */
  --special: #b1a3ff; /* Barely Grape */
  --special-orange: #fb9318;

  /* --caution-notif: #fc8300; */
  /* --special-orange-bg: #312621; */
  /* --warning-notif: #fd6464; */
  /* --special-red-bg: #26171b; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  /* color: var(--lightgrey); */
  /* color: var(--grey-white); */
  color: var(--darkgrey);
}

::selection { 
  /* background: var(--grey-white); */
  background: var(--special);
  color: var(--black);
}

body {
  /* background-color: var(--primary); */
  background-color: var(--bg);
  width: 100%;
  height: 100vh;
  display: grid;
  /* justify-content: start; */
}

body::-webkit-scrollbar {
  display: none;
}

.progress-section {
  position: fixed;
  right: -8px;
  top: 40%;
  width: 60px;
  height: 20%;
  display: flex;
  justify-content: space-between;
  will-change: transform;
  transition: .3s ease-out;
}

.progress-bar-wrap {
  position: relative;
  width: 5px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(70,70,70);
  transform: rotate(180deg);
}

.progress-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0%;
  background-color: rgb(189,189,189);
  background-color: var(--white);
}

/* .noise-bg { */
/*   position: fixed; */
/*   top: -50%; */
/*   left: -50%; */
/*   right: -50%; */
/*   bottom: -50%; */
/*   width: 200%; */
/*   height: 200vh; */
/*   background: transparent url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fclojure2d.github.io%2Fclojure2d%2Fdocs%2Fimages%2Foverlays%2Fnoise.png&f=1&nofb=1&ipt=d782e8dc396cc1a612d0be8bed505689aecd9c554a442bc1e7f4788542069170&ipo=images') repeat 0 0; */
/*   background-repeat: repeat; */
/*   animation: bg-animation 1.5s infinite; */
/*   opacity: .26; */
/*   visibility: visible; */
/*   z-index: -1; */
/* } */

/* @keyframes bg-animation { */
/*   0% { transform: translate(0,0) } */
/*   10% { transform: translate(-5%,-5%) } */
/*   20% { transform: translate(-10%,5%) } */
/*   30% { transform: translate(5%,-10%) } */
/*   40% { transform: translate(-5%,15%) } */
/*   50% { transform: translate(-10%,5%) } */
/*   60% { transform: translate(15%,0) } */
/*   70% { transform: translate(0,10%) } */
/*   80% { transform: translate(-15%,0) } */
/*   90% { transform: translate(10%,5%) } */
/*   100% { transform: translate(5%,0) } */
/* } */

.content {
  width: 100%;
  height: 100vh;
  /* display: grid; */
  /* justify-content: start; */
  /* padding: 0 3.8em; */
}

.home-page-canvas {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* .name { */
/*   position: absolute; */
/*   font-size: 320px; */
/*   color: var(--primary); */
/*   font-weight: bold; */
/*   right: 3%; */
/*   top: 61%; */
/* } */

/* ############################################## */
/* ABOUT ME */
/* ############################################## */
.home-page-canvas {
  display: inline;
}

.whoami-container {
  width: 100%;
  height: 100vh;
  padding-left: 10em;
}

.introduction-container {
  height: 100%;
  display: grid;
  justify-content: start;
  align-items: end;
  padding-bottom: 12em;
}

.introduction-content {
  width: 100%;
  display: grid;
}

.greetings, .aspiration {
  font-size: 32px;
  color: var(--primary);
}

.my-name {
  font-weight: bold;
  font-size: 110px;
  color: var(--primary);
  text-transform: uppercase;
}

#profession {
  color: var(--white);
  font-weight: bold;
  color: var(--primary);
}

#resume-btn {
  background: var(--darkgrey);
  border: none;
  color: var(--white);
  border-radius: 1px;
  margin-top: 1em;
  margin-right: 3em;
  padding: 1.2em 5em;
  font-size: 18px;
  text-transform: uppercase;
  transition: all 0.27s ease;
}

#resume-btn:hover {
  cursor: pointer;
  background: var(--white);
  color: var(--black);
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  width: 1000px;
  max-width: 100%;
  height: 85%;
  padding: 30px 50px;
  border-radius: 5px;
  text-align: center;
}

.modal h1 {
  margin: 0;
}

.modal p {
  font-size: 14px;
  opacity: 0.7;
}

#close {
  background-color: var(--special);
  background-color: var(--special-orange);
  color: var(--darkgrey);
  font-weight: bold;
  margin-top: 1.8em;
  border: 0;
  border-radius: 3px;
  padding: 10px 25px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.27s ease;
}

#close:hover {
  background-color: rgba(251,147,24,0.7);
}

.social-links {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.about-me-container {
  background: var(--bg);
  padding: 7em;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
}

.about-me-content {
  width: 100%;
  height: 100%;
  margin-top: .7em;
}

.section-skills {
  position: relative;
  top: 65px;
}

.section-headers p {
  font-size: 28px;
  color: var(--cement);
}

.about-me-section {
  align-items: end;
}

.skill-section {
  align-items: start;
}

.skills {
  display: flex;
  justify-content: space-between;
  min-width: 30%;
  width: 40%;
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: .6em;
}

.skills p {
  background: var(--special);
  padding: .3em 1em;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.skills ul {
  list-style: none;
}

.skills li {
  margin: 1em 0;
  display: grid;
  justify-content: center;
  padding: .4em .4em;
  border-radius: 3px;
  background: var(--lightgrey);
}

section {
  position: relative;
  width: 100%;
  height: 10vh;
}

.sticky {
  display: flex;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.services {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid var(--grey);
  padding-right: 5em;
}

.service {
  width: max-content;
  height: 38px;
  margin-bottom: 1em;
}

.service p {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  color: var(--greywhite);
  transition: color 0.3s;
}

.service p:hover {
  background-color: var(--darkgrey);
  color: var(--white);
}

.service-copy {
  width: 60%;
}

.line {
  position: relative;
  will-change: transform;
}

.service-copy p {
  font-size: 18px;
  /* font-weight: bold; */
  line-height: 28px;
}









/* ############################################## */
/* PROJECT CONTAINER */
/* ############################################## */
.landing-page-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.blurry-prev {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(80px);
}

.col {
 position: relative;
 padding: 1em;
}

.site-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border-right: 1px solid rgba(255,255,255,0.1); */
  border-right: 1px solid rgba(0,0,0,0.1);
}

nav {
  display: flex;
  gap: 1em;
}

.header {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.project-preview {
  width: 100%;
  border-: 1px solid rgba(255,255,255,0.1);
}

.project-details {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 50%;
}

.title {
  margin-bottom: 0.5em;
}

.info {
  margin-bottom: 1em;
}

.title,
.credits,
.director,
.cinematographer,
.line {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.info p,
.line span,
.credits p,
.director p,
.cinemtographer p {
  display: inline-block;
  position: relative;
  transform: translateY(20px);
}

.title h1 {
  position: relative;
  transform: translateY(40px);
  will-change: transform;
}

.project-img {
  position: absolute;
  left: 1em;
  bottom: 1em;
  widht: 75%;
  height: 50%;
  overflow: hidden;
  will-change: transform;
}

.project-img img {
  will-change: transform;
}

.gallery-wrapper {
  z-index: 2;
  overflow: auto;
  padding: 0.75em;
  background-color: rgba(255,255,255,0.1);
  border-left: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(20px);
}

.gallery {
  width: 100%;
  height: 300vh;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.item {
  position: relative;
  flex: 1;
  backgronud-color: #aeaeae;
}

.item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.65);
  transition: background-color 0.5s ease-in-out;
  transition-delay: 0.5s;
}

.item.active::after {
  background-color: rgba(0,0,0,0);
}


/* ######################################################### */
/* PROJECT PAGE */
/* ######################################################### */
.project-info-landing-page {
  /* background: var(--greywhite); */
  width: 100vw;
  height: 100vh;
}

.project-info-title-container {
  position: absolute;
  bottom: 18px;
  left: 0;
  height: 100vh;
  max-width: 200px;
  overflow: hidden;
}

.project-quick-info {
  position: absolute;
  left: 4em;
  bottom: 3em;
}

.project-quick-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5em;
}

.project-quick-info-title p {
  color: var(--white);
  margin: 1em 0;
  font-size: 16px;
}

.project-quick-info-content p {
  color: var(--white);
  margin: 1em 0;
  font-size: 16px;
  font-weight: bold;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.banner {
  width: 100%;
  height: 30px; 
  position: relative;
  top: -2em;
  overflow: hidden;
  white-space: nowrap;
  background-color: rgba(0,0,0,0);
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
}

.banner-text {
  display: inline-block;
  animation: 25s slide infinite linear; /* Adjust animation duration as needed */
  font-size: 11px;
  text-transform: uppercase;
  color: var(--white);
}

.text-divider {
  padding: 0 1em;
  color: var(--white);
}

@keyframes scroll {
  0% { left: 100%;  }
  100% { left: -100%;  }

}

.scrolling-text {
  display: flex;
  align-items: end;
  width: 100%;
  height: 100%;
  transform: rotate(0deg);
  white-space: nowrap;
  transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
  will-change: transform;
  backface-visibility: hidden;
}

#project-info-title {
  width: 100%;
  /* color: var(--white); */
  color: var(--grey-white);
  text-shadow: 0 0 1.5px var(--black);
  font-size: 180px;
  text-transform: uppercase;
  transform: rotate(270deg);
  white-space: nowrap;
  transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
}

.table-of-contents-container {
  display: grid;
  justify-content: center;
  margin-top: 8em;
  margin-bottom: 5em;
}

.table-of-contents {
  display: flex;
  width: 100%;
}

.table-of-contents p {
  margin: 1.5em;
  font-size: 22px;
  justify-content: center;
}

.table-of-contents p > a {
  font-weight: bold;
  text-decoration: none;
}

.toc-content:hover {
  color: var(--white);
}

.project-title p {
  /* margin-bottom: -.10em; */
  padding-right: .27em;
  width: 100%;
  color: var(--grey);
  font-size: 25em;
  letter-spacing: -25px;
  font-weight: bold;
  display: grid;
  justify-content: right;
  align-content: end;
}

.project-info-content {
  margin: .1em 5em 5em;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  /* background-color: var(--secondary); */
}

.project-heading p {
  color: var(--grey-white);
  color: #d5d5d5;
  font-size: 3em;
  letter-spacing: -1.5px;
  font-weight: bold;
  display: flex;
  justify-content: end;
}

.project-overview-title {
  margin-right: 4em;
  grid-column: 5;
}

.planning-title {
  grid-column: 5;
  margin-right: 2em;
}

.implementation-title {
  grid-column: 5;
  margin-right: 2em;
}

/* .planning-title p { */
/*   grid-column: 4; */
/*   display: grid; */
/*   justify-content: start; */
/* } */

/* .implementation-title p { */
/*   grid-column: 13; */
/* } */

.project-info-overview {
  font-size: 18px;
  grid-column: 6 / span 16;
}

.bold {
  color: var(--white);
}

.project-description-1 {
  grid-column: 6 / span 16;
  margin-top: 2em;
  font-size: 18px;
}

.project-images-container {
  margin-top: 5em;
  /* padding: 1em; */
  grid-column: 1 / span 16;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: .5em;

}

.project-images-container img {
  width: 100%;
  object-fit: cover;
}


.gallery-image-1 {
  span: 1;
}

/* -------------------------------------- Project More Info -------------------------------------- */
.call-to-action-banner {
  margin-top: 12em;
  margin-bottom: 9em;
  grid-column: 1 / span 15;
  display: grid;
  justify-content: center;
  border-top: 1px solid var(--darkgrey);
  /* border-bottom: 1px solid var(--darkgrey); */
  padding: 10em 6em 6em;
}

.call-to-action-banner p {
  font-size: 1.7em;
  color: var(--white);
  font-style: italic;
}

.additional-project-information-container {
  grid-column: 1 /span 16;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

.planning-container, .implementation-container {
  grid-column: 1 / span 16;
  padding: .8em;
  margin-top: 8em;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

.planning-info {
  grid-column: 6 / span 15;
}

.implementation-info {
  grid-column: 6 / span 15;
}


/* -------------------------------------- Gradient Canvas Themes -------------------------------------- */
#gradient-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width:100%;
  height:100%;

  --gradient-color-1: #7438ff; 
  --gradient-color-2: #8760ff;
  --gradient-color-3: #9b83ff;
  --gradient-color-4: #b1a3ff;

  /* --gradient-color-1: #4630b5; */ 
  /* --gradient-color-2: #4b2ace; */
  /* --gradient-color-3: #531fe7; */
  /* --gradient-color-4: #5d00ff; */

  /* --gradient-color-1: #3746a0; */ 
  /* --gradient-color-2: #4369be; */
  /* --gradient-color-3: #548cdb; */
  /* --gradient-color-4: #6bb0f5; */

  /* --gradient-color-1: #ffdebe; */ 
  /* --gradient-color-2: #ffcfa3; */
  /* --gradient-color-3: #ffc08d; */
  /* --gradient-color-4: #ffac7f; */

  /* --gradient-color-1: #7171f9; */ 
  /* --gradient-color-2: #6261e6; */
  /* --gradient-color-3: #5251d4; */
  /* --gradient-color-4: #4242c2; */

  /* --gradient-color-1: #20b6a7; */ 
  /* --gradient-color-2: #1bcab4; */
  /* --gradient-color-3: #18dec0; */
  /* --gradient-color-4: #1bf3cb; */

  /* --gradient-color-1: #751f58; */ 
  /* --gradient-color-2: #cf1e4d; */
  /* --gradient-color-3: #e9433e; */
  /* --gradient-color-4: #f47f58; */
}
