:root {
  /* -------- ORIGINAL -------- */
  /* --grey: #c0c0d0; */
  /* --lightgrey: #7e8691; */
  /* --darkgrey: #44454c; */
  /* --black: #232323; */
  /* --white: #bebcbe; */
  /* --greyblue: #3a4656; */
  /* --greyblue: #414e5f; */
  /* --tan:#aeae9d; */

  /* -------- SECOND THEME -------- */
  /* --grey: #232b36; */
  /* /1* --grey: #262b32; *1/ */
  /* --blue: #414f5f; */
  /* --blue: #6f7a88; */
  /* --white: #f6fafb; */
  /* --cement: #a1a19e; */

  /* -------- THIRD THEME -------- */
  /* --grey: #191a1c; */
  /* --greywhite: #7e8691; */
  /* /1* --white: #d6dada; *1/ */
  /* --white: #dddddd; */
  /* --cement: #a1a19e; */
  /* --wet-cement: #b6b4af; */
  /* --olive: #4f4b3d; */
  /* /1* --blue: #abc3db; *1/ */
  /* /1* --blue: #6bb7df; *1/ */
  /* --yellow: #fc9321; */

  /* -------- ORIGINAL -------- */
  --black: #232323;
  --white: #dddddd;
  --grey: #c1c1c1;
  --lightgrey: #a4a4a4;
  --darkgrey: #4b4b4b;
  --greyblue: #3a4656;
  --greyblue: #414e5f;
  --yellow: #fc9321;
  /* --olive: #3f4a39; */
  /* --tan:#aeae9d; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  font-family: 'Barlow Semi Condensed', sans-serif;
  /* overflow: hidden; */
  text-transform: uppercase;
  color: var(--cement);
}

::selection { 
  background: var(--yellow);
  color: var(--black);
}

body {
  background-color: var(--grey);
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: start;
}

body::-webkit-scrollbar {
  display: none;
}



.progress-section {
  position: fixed;
  right: -8px;
  top: 40%;
  width: 60px;
  height: 20%;
  display: flex;
  justify-content: space-between;
  will-change: transform;
  transition: .3s ease-out;
}

.progress-bar-wrap {
  position: relative;
  width: 5px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(70,70,70);
}

.progress-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0%;
  background-color: rgb(189,189,189);
  background-color: var(--white);
}

.noise-bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fclojure2d.github.io%2Fclojure2d%2Fdocs%2Fimages%2Foverlays%2Fnoise.png&f=1&nofb=1&ipt=d782e8dc396cc1a612d0be8bed505689aecd9c554a442bc1e7f4788542069170&ipo=images') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 1.5s infinite;
  opacity: .26;
  visibility: visible;
  z-index: -1;
}

@keyframes bg-animation {
  0% { transform: translate(0,0) }
  10% { transform: translate(-5%,-5%) }
  20% { transform: translate(-10%,5%) }
  30% { transform: translate(5%,-10%) }
  40% { transform: translate(-5%,15%) }
  50% { transform: translate(-10%,5%) }
  60% { transform: translate(15%,0) }
  70% { transform: translate(0,10%) }
  80% { transform: translate(-15%,0) }
  90% { transform: translate(10%,5%) }
  100% { transform: translate(5%,0) }
}

.content {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: start;
  padding: 0 3.8em;
}

/* ############################################## */
/* ABOUT ME */
/* ############################################## */
.whoami-container {
  width: 100%;
  height: 100vh;
  padding: 0 5em;

  display: grid;
  align-items: center;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr;
}

.introduction-container {
  /* height: 70vh; */
  display: grid;
  justify-content: start;
  align-items: end;
}

.introduction-content {
  width: 100%;
  display: grid;
  justify-content: center;
}

.greetings, .aspiration {
  font-size: 32px;
}

.my-name {
  font-weight: bold;
  font-size: 110px;
  color: var(--white);
  color: var(--black);
  text-transform: uppercase;
}

#profession {
  color: var(--white);
  color: var(--black);
  font-weight: bold;
}

#to-projects {
  background: rgba(93,93,93,0.1);
  background: var(--lightgrey);
  border: 1px solid var(--lightgrey);
  border-radius: 1px;
  margin-top: 1em;
  margin-right: 3em;
  padding: 1.2em 5em;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--black);
  transition: all 0.2s ease;
}

#to-projects:hover {
  cursor: pointer;
  /* background: var(--darkgrey); */
  background: var(--darkgrey);
  color: var(--white);
}

.social-links {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.about-me-container {
  width: 100%;
  height: 60%;
  display: grid;
  justify-content: center;
  align-items: start;
  /* margin-top: 25em; */
}

.about-me-content {
  width: 100%;
  margin-top: .7em;
  display: grid;
  justify-content: center;
}

.section-skills {
  position: relative;
  top: 65px;
}

.section-headers p {
  font-size: 28px;
  color: var(--cement);
}

.skill-section {
  margin-top: 1em;
}

.skills {
  display: flex;
  justify-content: space-between;
  min-width: 30%;
  width: 40%;
  margin-top: 2em;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: .6em;
}

.skills p {
  /* background: var(--lightgrey); */
  background: rgba(164,164,164, .45);
  padding: .3em 1em;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.skills ul {
  list-style: none;
}

.skills li {
  margin: 1em 0;
  display: grid;
  justify-content: center;
  padding: .4em .4em;
  border-radius: 3px;
  background: var(--lightgrey);
}

/* ############################################## */
/* PROJECT CONTAINER */
/* ############################################## */
.project-container {
  /* margin-top: 25em; */
}

.menu {
  position: fixed;
  top: 0;
  /* right: 1em; */
  /* margin: 0 3em; */
  width: 93%;
  height: 100%;
  overflow: hidden;
}

/* .project-image { */
/*   position: absolute; */
/*   top: 50%; */
/*   right: 10%; */
/*   width: 40%; */
/*   height: 50%; */
/* } */

.project-image {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translate(0%, -50%);
  width: 40%;
  height: 100%;
}

.project-image iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: z-index 0.5s, opacity 0.5s;
  opacity: 0;
}

.project-img[data-id="1"] {
  z-index: 10;
  opacity: 1;
}

.project-link-container {
  /* padding: 40rem 8rem; */
  /* height: 100vh; */
  padding-top: 40em;
  width: 80%;
  height: 240vh;
  overflow: hidden;
  font-weight: bold;
}

.menu a {
  text-decoration: none;
  font-size: 4.8em;
  letter-spacing: -0.2rem;
  color: var(--lightgrey);
  transition: all .3d ease-in-out;
}

.menu a:hover {
  color: var(--black);
  font-size: 5em;
}












/* .project-extras-container { */
/*   margin-top: 3em; */
/*   width: 75%; */
/*   height: 50em; */
/*   display: grid; */
/*   justify-content: start; */
/*   grid-template-columns: repeat(5, .6fr); */
/*   gap: 100px; */
/* } */

/* .project-folder { */
/*   width: 140px; */
/*   height: 180px; */
/*   margin: 0 auto; */
/*   position: relative; */
/*   background-color: rgba(35,35,35,.3); */
/*   /1* background-color: rgba(192,192,208,.1); *1/ */
/*   background: var(--lightgrey); */
/* } */

/* .project-folder:before { */
/*     content: ''; */
/*     width: 60%; */
/*     height: 12px; */
/*     width: 100%; */
/*     height: 100%; */
/*     position: absolute; */
/*     top: -12px; */
/* } */

/* .project-folder { */
/*   clip-path: polygon( */
/*     0% 0%, 98% 0%, 100% 3%, 100% 100%, 10% 100%, 0% 92% */
/*   ); */
/* } */

/* SIM CARD */
/* .project-folder { */
/*   clip-path: polygon( */
/*     0% 0%, 82% 0%, 100% 13%, */ 
/*     100% 30%, 98% 30%, 98% 35%, 100% 35%, */ 
/*     100% 98%, 98% 100%, */ 
/*     2% 100%, 0% 98%, */ 
/*     0% 50%, 2% 50%, 2% 33%, .7% 33%, .7% 30%, 2% 30%, 2% 35%, 2% 25%, 0% 25% */
/*   ); */
/* } */


/* .project-folder { */
/*   clip-path: polygon( */
/*     0% 0%, 98% 0%, */
/*     100% 3%, 100% 100%, */
/*     3% 100%, 0% 98%, */
/*   ); */
/* } */

/* .project-folder:hover { */
/*   /1* background: linear-gradient(to bottom, #f0cd82, #fcd571); *1/ */
/*   background: var(--darkgrey); */
/*   cursor: pointer; */
/* } */

/* .project-info { */
/*   width: 100%; */
/*   height: 80%; */
/*   padding: 1em 1em; */
/*   /1* background-color: rgba(51,255,0,.6); *1/ */
/* } */

/* .project-title { */
/*   margin-top: .3em; */
/*   font-size: 18px; */
/*   font-weight: bold; */
/*   color: var(--black); */
/* } */

/* ######################################################### */
/* PROJECT PAGE */
/* ######################################################### */
.project-info-landing-page {
  /* background: var(--greywhite); */
  width: 100vw;
  height: 100vh;
}

.project-info-title-container {
  position: absolute;
  bottom: 18px;
  left: 0;
  height: 100vh;
  max-width: 200px;
  overflow: hidden;
  /* background: var(--olive); */

  /* display: flex; */
  /* align-items: end; */
}

.scrolling-text {
  display: flex;
  align-items: end;
  width: 100%;
  height: 100%;
  transform: rotate(0deg);
  white-space: nowrap;
  transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
  will-change: transform;
  backface-visibility: hidden;
}

#project-info-title {
  width: 100%;
  color: var(--black);
  font-size: 180px;
  text-transform: uppercase;
  transform: rotate(270deg);
  white-space: nowrap;
  transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
}

.scrolldown {
  position: absolute;
  bottom: 60px;
  left: 55%;
  width: 15px;
  height: 15px;
  /* background: white; */
  transform: translate(-80px) translateX(-50%) rotate(45deg);
}

.scrolldown span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid var(--black);
  border-right: 2px solid var(--black);
  animation: animate 1.5s linear infinite;
  opacity: 0;
}

.scrolldown span:nth-child(1) {
  transform: translate(-15px,-15px);
  animation-delay: -0.4s;
}

.scrolldown span:nth-child(2) {
  transform: translate(0,0);
  animation-delay: -0.2s;
}

.scrolldown span:nth-child(3) {
  transform: translate(15px,15px);
  animation-delay: 0s;
}

@keyframes animate {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  25% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  50%, 100% {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}

.project-info-content {
  margin: 5em;
}

#gradient-canvas {
  width:100%;
  height:100%;
  /* --gradient-color-1: #FE6860; */ 
  /* --gradient-color-2: #FE8A71; */ 
  /* --gradient-color-3: #D9BBAE; */  
  /* --gradient-color-4: #F3C9BF; */

  /* --gradient-color-1: #f78907; */ 
  /* --gradient-color-2: #f6c507; */ 
  /* --gradient-color-3: #f65507; */  
  /* --gradient-color-4: #f5c006; */

  --gradient-color-1: #7353ba;
  --gradient-color-2: #504fa1; 
  --gradient-color-3: #efc3f5;
  --gradient-color-4: #f2eff8;

  /* --gradient-color-1: #414f5f; */
  /* --gradient-color-2: #6f7a88; */
  /* --gradient-color-3: #a1a19e; */
  /* --gradient-color-4: #f6fafb; */

  /* --gradient-color-1: #faa6ff; */
  /* --gradient-color-2: #7353ba; */
  /* --gradient-color-3: #efc3f5; */
  /* --gradient-color-4: #f6fafb; */
}
