.socials-navbar {
  position: fixed;
  right: 0;
  height: 100vh;
  min-width: 3%;
}

.socials {
  display: grid;
  position: absolute;
  bottom: 2em;
}

.favicon {
  position: absolute;
  top: 2em;
}

.social-navbar-icons {
  width: 25px;
  height: 25px;
}

.social-links {
  margin-top: 1em;
}
